.product-card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 50px;
  text-align: center;
}

.card {
  margin: 50px;
}

.card img {
  width: 300px;
  height: 350px;
}

.card button {
  border: none;
  outline: 0;
  padding: 10px;
  color: white;
  background-color: #1bcb7f;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 15px;
}

.card button:hover {
  opacity: 0.7;
}

/* Estilos para tablets */
@media (max-width: 768px) {
  .product-card-container {
    margin: 30px; 
    justify-content: center; 
  }

  .card {
    margin: 30px; 
  }

  .card img {
    width: 250px; 
    height: 300px;
  }

  .card button {
    font-size: 14px; 
    padding: 8px;
  }
}

/* Estilos para celulares */
@media (max-width: 480px) {
  .product-card-container {
    flex-direction: column; 
    margin: 20px;
  }

  .card {
    margin: 20px auto; 
  }

  .card img {
    width: 200px; 
    height: 250px;
  }

  .card button {
    font-size: 13px; 
    padding: 6px;
  }
}
